<br>

# Accessing Databases from Applications

<br>

- From [Wikipedia:](https://en.wikipedia.org/wiki/Database_connection)

<br>

"A Database connection is a facility in computer science that allows client software to talk to database server software, whether on the same machine or not. A connection is required to send commands and receive answers, usually in the form of a result set.

<br>
Connections are built by supplying an underlying driver or provider with a connection string, which is a way of addressing a specific database or server and instance as well as user authentication credentials (for example, Server=sql_box;Database=Common;User ID=uid;Pwd=password;). Once a connection has been built it can be opened and closed at will, and properties (such as the command time-out length, or transaction, if one exists) can be set. The Connection String is composed of a set of key/value pairs as dictated by the data access interface and data provider being used."
<br><br>

- The concept of a connection is common is many application scenarios, e.g. HTTP/web access to web sites:
    - For HTTP:
        - The sent commands are the [HTTP methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods) like GET, POST, ...
        - The response is a block of characters/data usually containing HTML, images, ... ...
    - For a DBMS connection:
        - The commands are SQL statements.
        - The response is a block of characters containing the response and data.

<br><br>

- Database driver:
    - Language specific library that simplifies using connectors for the language.
    - Provide simpler functions than using the raw connection, and maps between the connection data model and the language data model.<br><br>

- From [MySQL](https://www.mysql.com/products/connector/):
<br>

"MySQL provides standards-based drivers for JDBC, ODBC, and .Net enabling developers to build database applications in their language of choice. In addition, a native C library allows developers to embed MySQL directly into their applications."

<br>

In [2]:
# Import a MySQL database driver for Python. There are several driver libraries.
import pymysql

# This simplifies converting between Python data structures, e.g. dictionaries, 
# and character string. I use this for printing.
import json

# Connection to a database. The database in in another process
# somewhere on my laptop.
conn = pymysql.connect(
    host="localhost",
    user="dbuser",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor
)

print("Conn = ", conn)

Conn =  <pymysql.connections.Connection object at 0x7fed583db8d0>

In [11]:
def get_column_names(db_name, table_name):
    """
    Query the catalog using DDL statements to get the list of columns for a table.
    - db_name is the database/schema.
    - table_name is the name of the table.
    """

    # The DML statement. The %s are where parameters go to form a complete statement.
    sql = """
        select column_name from information_schema.columns
            where table_schema=%s and table_name=%s order by ordinal_position"""

    print("\nThe raw SQL statement is:\n",sql)
    
    # Using the connection, get a cursor. This is like an iterator for going through
    # lists in Java, Python, etc. We are just going through the DB
    cur = conn.cursor()
    print("\nThe raw SQL statement is:\n",
          cur.mogrify(sql,(db_name, table_name)))
          
    res = cur.execute(sql, (db_name, table_name))
    cols = cur.fetchall()
    print(res)
    print(cols)

    cols = ["`"+v['COLUMN_NAME']+"`" for v in cols ]

    cur.close()

    return cols


def get_columns_with_string(db_name, table_name, column_names, search_string):

    matched_column_names = []

    for c in column_names:
        where_terms = []
        args = []

        w_term = " " + c + "=%s "
        where_terms.append(w_term)
        args.append(search_string)

    where_clause = " where " + " or ".join(where_terms)
    sql = "select * from " + db_name + "." + table_name + " " + where_clause + "limit 10"

    cur = conn.cursor()
    print("Mogrified = ", cur.mogrify(sql, args))
    res = cur.execute(sql, args)
    if res != 0:
        matched_column_names.append(c)
    cur.close()

    return matched_column_names


table_name = "appearances"
column_names = get_column_names("lahmansbaseballdb2019", table_name)

#print("Columns in lahman2019.{table_name} are: \n", column_names)


columns = get_columns_with_string("lahmansbaseballdb2019", table_name, column_names, "nan")
print("\nThe columns with the string 'nan' are:\n", json.dumps(columns, indent=2))

The raw SQL statement is:

        select column_name from information_schema.columns
            where table_schema=%s and table_name=%s order by ordinal_position

The raw SQL statement is:

        select column_name from information_schema.columns
            where table_schema='lahmansbaseballdb2019' and table_name='appearances' order by ordinal_position
23
[{'COLUMN_NAME': 'ID'}, {'COLUMN_NAME': 'yearID'}, {'COLUMN_NAME': 'teamID'}, {'COLUMN_NAME': 'team_ID'}, {'COLUMN_NAME': 'lgID'}, {'COLUMN_NAME': 'playerID'}, {'COLUMN_NAME': 'G_all'}, {'COLUMN_NAME': 'GS'}, {'COLUMN_NAME': 'G_batting'}, {'COLUMN_NAME': 'G_defense'}, {'COLUMN_NAME': 'G_p'}, {'COLUMN_NAME': 'G_c'}, {'COLUMN_NAME': 'G_1b'}, {'COLUMN_NAME': 'G_2b'}, {'COLUMN_NAME': 'G_3b'}, {'COLUMN_NAME': 'G_ss'}, {'COLUMN_NAME': 'G_lf'}, {'COLUMN_NAME': 'G_cf'}, {'COLUMN_NAME': 'G_rf'}, {'COLUMN_NAME': 'G_of'}, {'COLUMN_NAME': 'G_dh'}, {'COLUMN_NAME': 'G_ph'}, {'COLUMN_NAME': 'G_pr'}]
Mogrified =  select * from lahmansbaseballdb2019.appearances  where  `G_pr`='nan' limit 10

The columns with the string 'nan' are:
 [
  "`G_pr`"
]

# Simple Mockaroo Example

In [1]:
import pandas

In [3]:
df = pandas.read_csv('/Users/donaldferguson/Downloads/simple_people.csv')
df

,person_id,first_name,last_name,email,gender,ip_address,street_address,city,state,country
0,894d55f0-0154-4b6b-9fd3-b0edff0a97e6,Salvador,Briscam,sbriscam0@hud.gov,Male,243.247.45.85,475 Lighthouse Bay Park,Fort Wayne,Indiana,United States
1,5fc00a47-9e79-4de0-a956-067d42ce5f1b,Gay,Tipton,gtipton1@mtv.com,Female,48.222.246.199,647 Kim Parkway,Jefferson City,Missouri,United States
2,07a778df-3453-4733-b051-e5cbd0fa32a5,Benedick,Dobey,bdobey2@vk.com,Male,26.99.146.78,7 Westend Circle,Albuquerque,New Mexico,United States
3,d190d820-fd60-477f-a0e1-3ebf1b9fe951,Evelyn,Ventom,eventom3@elpais.com,Male,107.145.90.188,11 Kensington Point,Manchester,New Hampshire,United States
4,64514bc3-6068-4ffd-acd9-d5d1205717b6,Amalia,Habbin,ahabbin4@sina.com.cn,Female,210.103.156.18,765 Lakeland Street,Oxnard,California,United States
...,...,...,...,...,...,...,...,...,...,...
995,32e15ef3-e82b-49c9-96b3-f386211fc25b,Noelani,Van Velden,nvanveldenrn@foxnews.com,Female,70.139.135.232,7 Old Gate Avenue,Minneapolis,Minnesota,United States
996,2e012ffa-20ef-4b9a-8ce7-86840fcdbb71,Mirabelle,Langman,mlangmanro@cmu.edu,Female,160.84.253.17,680 Kropf Park,Honolulu,Hawaii,United States
997,2411a0ff-3a68-4ae6-b8d8-b84aad0f8a0b,Roth,Januszkiewicz,rjanuszkiewiczrp@cdbaby.com,Male,4.140.21.240,12 Farmco Parkway,Los Angeles,California,United States
998,94119325-52f6-417c-8a02-bcfea6574192,Lotta,Conradsen,lconradsenrq@omniture.com,Female,175.86.197.45,50 Hansons Place,Las Vegas,Nevada,United States
999,2402a48d-d75a-4d63-944e-531ad1d04d0c,Alanna,Shiels,ashielsrr@engadget.com,Female,39.180.36.23,034 Badeau Crossing,Tampa,Florida,United States

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('mysql+pymysql://dbuser:dbuserdbuser@localhost')

In [7]:
df.to_sql('simplepeople', schema='W4111Examples', con=engine)